<div class="container">
  <h2>Teaching Assistant Application</h2>
  <div class="form-group">
    <label for="name">Name</label><br />
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      class="form-control"
      required
    /><br /><br />
  </div>

  <div class="form-group">
    <label for="email">Email</label><br />
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      class="form-control"
      required
    /><br /><br />
  </div>

  <div class="form-group">
    <label for="idNumber">Student ID Number</label><br />
    <input
      type="number"
      name="idNumber"
      [(ngModel)]="idNumber"
      class="form-control"
      pattern="[1-9][0-9]{6}"
      required
    /><br /><br />
  </div>

  <div class="form-group">
    <label for="gpa">Current Cumulative GPA</label><br />
    <input
      type="number"
      name="gpa"
      [(ngModel)]="gpa"
      pattern="[0-4].[0-9]{3}"
      class="form-control"
      required
    /><br /><br />
  </div>

  <div class="form-group">
    <label for="major">Major</label><br />
    <input
      type="text"
      name="major"
      [(ngModel)]="major"
      class="form-control"
      required
    /><br /><br />
  </div>

  <div class="form-group">
    <label for="graduationDate">Expected Graduation Date</label><br />
    <input
      type="text"
      name="graduationDate"
      [(ngModel)]="graduationDate"
      class="form-control"
      required
    /><br /><br />
  </div>

  <div class="form-group">
    <div *ngFor="let courseOption of courseOptions">
      <label [for]="courseOption.courseId">{{ courseOption.deptCode }} {{ courseOption.number }}: {{ courseOption.name }}</label><br />
      <input
        type="checkbox"
        name="courses"
        [id] = courseOption.courseId
        [(ngModel)]="courses"
        class="form-control"
      />
    </div>
    <br /><br />
  </div>

  <div class="form-group">
    <label for="languages">Programming Languages</label><br />
    <div *ngFor="let skillOption of skillOptions">
      <label [for]="skillOption.skillId">{{ skillOption.description }} </label><br />
      <input
      type="checkbox"
      name="languages"
      [id] = skillOption.skillId
      [(ngModel)]="languages"
      class="form-control"
    />
    </div>
    <br /><br />
  </div>

  <div class="form-group">
    <label for="otherSkills">Other Skills</label><br />
    <input
      type="text"
      name="otherSkills"
      [(ngModel)]="otherSkills"
      class="form-control"
      required
    /><br /><br />
  </div>
  <button class="btn btn-primary">Apply</button>
</div>
